html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

 #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #tableDiv {
    height: 33%;
    width: 100%;
    bottom:0;
    position: absolute;
    visibility: visible;
  }
  .zoomer-buttons{
    display: flex;
    flex-direction: row;
  }

  #layerQuery{
  width: max-content;
  padding: auto;
  }

  label{
  margin: 5px;
  }

  h2{
    margin: 10px;
  }