
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#tabDiv {
    background-color: white;
    position: absolute;
    bottom: 40px;
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2%;
    height: 30%;
    overflow-x: hidden;
}

calcite-tab-nav {
    padding-top: 5px;
}

calcite-tabs {
    width: 100%;
    height: 100%;
}

calcite-tab {
    width: 100%;
    overflow-x: hidden;
    font-size: large;
}

.tabContent {
    width: 100%;
    overflow-x: hidden;
}

.esri-feature-table__header {
    height: 30px;
    line-height: 30px;
}


#footer {
    position: relative;
    bottom: 40px;
    width: 95%;
    height: 18px;
    background-color: red;
    color: white;
    text-align: center;
    margin: auto;
  }

h2.esri-popup__header-title {
    color: #4d86c5;
    size: 1.4em;
    font-style: italic;
    font-weight: bold;
}

/* div.esri-feature-content {} */



/* Widget styling test
   See SCSS code at: https://github.com/Esri/arcgis-js-api/tree/4master/assets/esri/themes/base/widgets


.esri-search__container {
    font-weight: bold;
    color: red;
}

div .esri-basemap-gallery__item-title {
    color:red;
    font-weight: bolder;
}

*/
